[submodule "user/lib/openlibm"]
	path = user/lib/external/openlibm
	url = git@github.com:JuliaMath/openlibm.git
[submodule "user/lib/external/cista"]
	path = user/lib/external/cista
	url = https://github.com/felixguendling/cista.git
[submodule "user/lib/external/fmtlib"]
	path = user/lib/external/fmtlib
	url = git@github.com:fmtlib/fmt.git
[submodule "user/lib/external/CLI11"]
	path = user/lib/external/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "user/lib/external/mpack"]
	path = user/lib/external/mpack
	url = git@github.com:ludocode/mpack.git
