[submodule "user/lib/openlibm"]
	path = user/lib/external/openlibm
	url = git@github.com:JuliaMath/openlibm.git
[submodule "user/lib/external/cista"]
	path = user/lib/external/cista
	url = https://github.com/felixguendling/cista.git
[submodule "user/lib/external/fmtlib"]
	path = user/lib/external/fmtlib
	url = git@github.com:fmtlib/fmt.git
[submodule "user/lib/external/mpack"]
	path = user/lib/external/mpack
	url = git@github.com:ludocode/mpack.git
[submodule "kernel/platform/pc64/bootboot"]
	path = kernel/platform/pc64/bootboot
	url = https://gitlab.com/bztsrc/bootboot.git
